@font-face {
  font-family: 'pokefont';
  src: url(Pokemon\ Solid.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background: linear-gradient(120deg, #830909, #410909);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
    
@keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}

Button{
  Display:block;
  Margin: auto;
  height:100px;
   width:300px;
  font-size: 45px;
  font-family: 'pokefont', sans-serif;
  color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-width: 0px;
  text-shadow: 2px 0 #ffd900, -2px 0 #ffd900, 0 2px #ffd900, 0 -2px #ffd900,
  1px 1px #ffd900, -1px -1px #ffd900, 1px -1px #ffd900, -1px 1px #ffd900;;
}

@keyframes fade {
  0% {
    background-color: #2c0000;
  }
  50% {
    background-color: #220000;
  }
  100% {
    background-color: #2c0000;
  }
}

h1{
  text-align: center;
  font-size: 48px;
  color: #ff0000;
  font-family: 'pokefont', sans-serif;
  text-shadow: 2px 0 #ffd900, -2px 0 #ffd900, 0 2px #ffd900, 0 -2px #ffd900,
  1px 1px #ffd900, -1px -1px #ffd900, 1px -1px #ffd900, -1px 1px #ffd900;;
}

h2{
  text-align: center;
  font-size: 40px;
  color: #ff0000;
  font-family: 'pokefont', sans-serif;
  text-shadow: 2px 0 #ffd900, -2px 0 #ffd900, 0 2px #ffd900, 0 -2px #ffd900,
  1px 1px #ffd900, -1px -1px #ffd900, 1px -1px #ffd900, -1px 1px #ffd900;;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

select{
  align-items: center;
  justify-content: center;
  text-align: center;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

}